Source: stsbl-iserv3-maintenance
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/

Package: stsbl-iserv3-maintenance
Architecture: all
Depends: iserv-portal, ${misc:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: Stadtteilschule Blankenese: IServ 3 Wartung
 Dieses Paket führt IServ 3-Wartungsoperationen durch, wenn neue
 IServ 3-Module installiert wurden.
Tag: suite::iserv:portal, role::shared-lib, implemented-in::shell
